body{
    text-align: center;
background:linear-gradient(to right, rgb(27, 27, 134), rgb(41, 116, 212), rgb(27, 84, 240), rgb(20, 20, 224), rgb(33, 33, 139),rgb(36, 148, 212),rgb(24, 24, 139));
color: aliceblue;
}

.foto_industria img{
    border-radius: 17px;
}

.mapa_robo iframe{
    border-radius: 17px;
}

.figura_robo img{
    border-radius: 16px;
    width: 320px;
    height: 140px;

}

.video_robo iframe{
    border-radius: 18px;
}
    
